---
config_dir: '/home/ansible/unifi/'
unifi_url: https://dl.ui.com/unifi/7.3.76/unifi_sysvinit_all.deb

# Let's Encrypt variables
install_ssl: true
ssl_admin_email: user@example.com
ssl_domain: unifi.example.com
